[package]
name = "metatensor"
version = "0.2.1"
edition = "2021"
rust-version = "1.74"

description = "Self-describing sparse tensor data format for atomistic machine learning and beyond"
readme = "../../README.md"
homepage = "https://docs.metatensor.org/latest/"
repository = "https://github.com/metatensor/metatensor"
license = "BSD-3-Clause"

[lib]
bench = false

[dependencies]
metatensor-sys = {version = "0.1.13", path="../metatensor-sys"}

once_cell = "1"
smallvec = {version = "1", features = ["union"]}
ndarray = {version = "0.16"}
rayon = {version = "1", optional = true}


[features]
default = []
# use the static build of metatensor-core instead of the shared one
static = ["metatensor-sys/static"]

[dev-dependencies]
criterion = "0.5.1"

[[bench]]
name = "labels_benchmark"
harness = false
