import ase
from rascaline import SoapRadialSpectrum

import metatensor


atoms = ase.Atoms(
    "COO2N2",
    positions=[(0, 0, 0), (1.2, 0, 0), (0, 6, 0), (1.1, 6, 0), (6, 0, 0), (7.3, 0, 0)],
)

calculator = SoapRadialSpectrum(
    cutoff=2.5,
    max_radial=3,
    atomic_gaussian_width=0.2,
    radial_basis={"Gto": {}},
    center_atom_weight=1.0,
    cutoff_function={"ShiftedCosine": {"width": 0.5}},
)

descriptor = calculator.compute(atoms, gradients=["positions"])

metatensor.save("radial-spectrum.npz", descriptor)
