import ase
from featomic import SphericalExpansion

import metatensor


co2 = ase.Atoms(
    "CO2",
    positions=[(0, 0, 0), (-0.2, -0.65, 0.94), (0.2, 0.65, -0.94)],
)

calculator = SphericalExpansion(
    cutoff={
        "radius": 3.5,
        "smoothing": {"type": "ShiftedCosine", "width": 0.5},
    },
    density={
        "type": "Gaussian",
        "width": 0.2,
    },
    basis={
        "type": "TensorProduct",
        "max_angular": 2,
        "radial": {"type": "Gto", "max_radial": 4},
    },
)

descriptor = calculator.compute(co2, gradients=["positions"])

metatensor.save("spherical-expansion.npz", descriptor)
