sphinx >=4.4
sphinx_autodoc_typehints
pygments >=2.9           # syntax highligthing
breathe >=4.33           # C and C++ => sphinx through doxygen
sphinx-gallery           # convert python files into nice documentation
furo                     # sphinx theme
toml

# dependencies for the tutorials
chemfiles
ase
matplotlib
skcosmo
