sphinx == 7.2.6
sphinx-toggleprompt # hide the prompt (>>>) in python doctests
sphinx-gallery      # convert python files into nice documentation
pygments >=2.11     # syntax highligthing
breathe >=4.33      # C and C++ => sphinx through doxygen
furo                # sphinx theme
myst_parser         # include markdown documents in sphinx
sphinx-design       # helpers for nicer docs website (tabs, grids, cards, …)
sphinxcontrib-details-directive # hide some information by default in HTML

# required for autodoc
numpy
torch

# required for examples
ase
