name: Python tests

on:
  push:
    branches: [main]
  pull_request:
    # Check all PR

concurrency:
  group: python-tests-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  python-tests:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} / Python ${{ matrix.python-version }} / Torch ${{ matrix.torch-version }}
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            python-version: "3.9"
            torch-version: "1.12.*"
            numpy-version-pin: "<2.0"
          - os: ubuntu-20.04
            python-version: "3.9"
            torch-version: "2.5.*"
          - os: ubuntu-20.04
            python-version: "3.12"
            torch-version: "2.5.*"
          - os: macos-14
            python-version: "3.12"
            torch-version: "2.5.*"
          - os: windows-2022
            python-version: "3.12"
            torch-version: "2.5.*"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: setup rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.7
        with:
          version: "v0.8.1"

      - name: setup MSVC command prompt
        uses: ilammy/msvc-dev-cmd@v1

      - name: Setup sccache environnement variables
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV
          echo "CMAKE_C_COMPILER_LAUNCHER=sccache" >> $GITHUB_ENV
          echo "CMAKE_CXX_COMPILER_LAUNCHER=sccache" >> $GITHUB_ENV

      - name: install tests dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox

      - name: run tests
        run: tox
        env:
          PIP_EXTRA_INDEX_URL: https://download.pytorch.org/whl/cpu
          METATENSOR_TESTS_TORCH_VERSION: ${{ matrix.torch-version }}
          METATENSOR_TESTS_NUMPY_VERSION_PIN:  ${{ matrix.numpy-version-pin }}
